<h1> Create an Appointment! </h1>

<%= form_for(@docvisit) do |f|%>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <br><br>

    <%= f.label :sex %>
    <%= f.select(:sex, options_for_select([ "", "Male", "Female" ])) %>

    <br><br>

    <%= f.label :date_of_birth %>
    <%= f.date_select :date_of_birth%>
    
    <br><br>

    <%= f.label :appointment_time %>
    <%= f.date_select :appointment_time %>

    <br><br>

    <%= f.label :doctor_id, "Select a Doctor" %>
    <%= f.collection_select :doctor_id, Doctor.all, :id, :name, prompt: true %>

    <br><br>

    <%= f.submit %>
<% end %>
